<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <div class="container my-3">
        <th:block th:replace="fragments/messages"></th:block>
        <div class="alert alert-danger text-center" th:if="${#fields.hasErrors('${product}')}">
            <span th:each="e : ${#fields.errors('${product}')}" th:text="${e}"></span>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3">
                <h2 class="text-center">Add new product</h2>
                <form class="my-3" th:action="@{/products/add}" th:method="post" th:object="${product}">
                    <div class="form-group">
                        <label>Product name</label>
                        <input type="text" title="name" class="form-control" th:field="*{name}"
                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                             th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" th:field="*{quantityInKg}"/>Quantity is in kg
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Price/kg or piece</label>
                        <input type="number" step="0.1" title="price" class="form-control" th:field="*{price}"
                               th:classappend="${#fields.hasErrors('price')} ? 'is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('price')}"
                             th:each="e : ${#fields.errors('price')}" th:text="${e}"></div>
                    </div>
                    <div class="form-group">
                        <label>Producer</label>
                        <input type="text" title="producer" class="form-control" th:field="*{producer}"
                               th:classappend="${#fields.hasErrors('producer')} ? 'is-invalid'"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('producer')}"
                             th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
                    </div>
                    <div class="form-group">
                        <label>Suppliers</label>
                        <select class="form-control" id="suppliers" th:field="*{supplier}">
                            <th:block th:each="supplier : ${suppliers}">
                                <option th:value="${{supplier}}" th:text="${supplier.getName()}"></option>
                            </th:block>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('supplier')}"
                             th:each="e : ${#fields.errors('supplier')}" th:text="${e}"></div>
                    </div>
                    <button type="submit" class="btn btn-custom btn-block btn-md">Add product</button>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>