<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
    <th:block th:replace="fragments/navbar"></th:block>
    <div class="container my-3">
        <th:block th:replace="fragments/messages"></th:block>
        <div class="container">
            <div class="text-center my-3">
                <h2>Inventory</h2>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Product name</th>
                    <th>Quantity</th>
                    <th>Expiration date</th>
                    <th>Producer</th>
                    <th>Supplier</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="i, ind : ${ingredients}">
                    <td th:text="${ind.index + 1}"></td>
                    <td th:text="${i.getProduct().getName()}"></td>
                    <td th:text="${i.getQuantity()}"></td>
                    <td th:text="${#dates.format(i.getExpirationDate(), 'dd-MMM-yyyy')}"></td>
                    <td th:text="${i.getProduct().getProducer()}"></td>
                    <td th:text="${i.getProduct().getSupplier().getName()}"></td>
                    <td th:text="${i.isOrdered() ? 'ordered' : 'delivered'}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>