<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaulator</title>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
    <th:block th:replace="fragments/navbar"></th:block>
    <div class="container my-3">
        <th:block th:replace="fragments/messages"></th:block>
        <div class="container">
            <div class="text-center my-3">
                <h2>Recipes</h2>
            </div>
            <a th:href="@{/recipes/add}" class="btn btn-custom my-3">Add recipe</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Cost</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="r, ind : ${recipes}">
                    <td th:text="${ind.index + 1}"></td>
                    <td th:text="${r.getName()}"></td>
                    <td th:text="${r.getQuantity()}"></td>
                    <td th:text="${r.getCost()}"></td>
                    <td class="text-center">
                        <a th:href="@{/recipes/edit (id = ${r.getId()})}" th:text="Edit"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>