.navbar-blue {
    background-color: #5a6986;
}

.btn-nav-link {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
}

.btn-custom {
    outline-color: black;
    background: #434b5c;
    color: #f0f0f0;
}

.btn-custom:hover, .btn-custom:focus {
    color: #ffffff;
    background: #697590;
}

.nav-link:hover, .nav-link:focus {
    color: #ffffff;
}

.nav-link-white {
    color: #eeeeee;
}

.nav-link-white:hover, .nav-link-white:focus {
    color: #FFFFFF;
}

.dropdown-toggle::after {
    display: none;
}