<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/public/css/bootstrap/bootstrap.min.css"
              th:href="@{/public/css/bootstrap/bootstrap.min.css}" />
        <link rel="stylesheet" href="../static/public/css/style.css"
              th:href="@{/public/css/style.css}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>
        <script src="../static/public/js/jquery-3.1.0.min.js"
                th:src="@{/public/js/jquery-3.1.0.min.js}"></script>
        <script src="../static/public/js/bootstrap/bootstrap.min.js"
                th:src="@{/public/js/bootstrap/bootstrap.min.js}"></script>
        <script src="../static/public/js/restaulator.js"
                th:src="@{/public/js/restaulator.js}"></script>
    </th:block>
</html>