<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
    <div th:replace="fragments/navbar"></div>
    <div class="container my-3">
        <div id="messages" class="alert alert-danger text-center" th:if="${#fields.hasErrors('${user}')}">
            <span th:each="e : ${#fields.errors('${user}')}" th:text="${e}"></span>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3">
                <h2 class="text-center">Register</h2>
                    <form class="my-3" th:action="@{/users/register}" th:method="post" th:object="${user}">
                        <div class="form-group">
                            <label>First name</label>
                            <input type="text" title="first-name" class="form-control" th:field="*{firstName}"
                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                                 th:each="e : ${#fields.errors('firstName')}"
                                 th:text="${e}"></div>
                        </div>
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" title="last-name" class="form-control" th:field="*{lastName}"
                                   th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                                 th:each="e : ${#fields.errors('lastName')}"
                                 th:text="${e}"></div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" title="email" class="form-control" th:field="*{email}"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                                 th:each="e : ${#fields.errors('email')}"
                                 th:text="${e}"></div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" title="password" class="form-control" th:field="*{password}"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                                 th:each="e : ${#fields.errors('password')}"
                                 th:text="${e}"></div>
                        </div>
                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" title="confirm-password" class="form-control" th:field="*{confirmPassword}"
                                   th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}"
                                 th:each="e : ${#fields.errors('confirmPassword')}"
                                 th:text="${e}"></div>
                        </div>
                        <button type="submit" class="btn btn-custom btn-block btn-md">Register</button>
                    </form>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>